* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}


/* background decorations */
.bg .bg-decoration {
    opacity: 0.4;
    position: fixed;
    z-index: -100;
}

.bg .cube1 {
    width: 200px;
    height: 200px;
    left: -40px;
    bottom: 50px;
    transform: rotate(30deg);
}

.bg .cube2 {
    width: 120px;
    height: 120px;
    right: -10px;
    top: 40px;
    transform: rotate(74deg);
}

.bg .flower1 {
    width: 60px;
    height: 60px;
    left: 20px;
    bottom: 300px;
    transform: rotate(94deg);
}

.bg .flower2 {
    width: 40px;
    height: 40px;
    left: 70px;
    bottom: 260px;
    transform: rotate(57deg);
}

.bg .flower3 {
    width: 70px;
    height: 70px;
    left: 130px;
    bottom: 20px;
    transform: rotate(38deg);
}

.bg .flower4 {
    width: 25px;
    height: 25px;
    right: 30px;
    top: 180px;
    transform: rotate(120deg);
}

.bg .flower5 {
    width: 55px;
    height: 55px;
    right: 120px;
    top: 120px;
    transform: rotate(52deg);
}

.bg .flower6 {
    width: 40px;
    height: 40px;
    right: 60px;
    top: 210px;
    transform: rotate(146deg);
}

.bg .flower7 {
    width: 30px;
    height: 30px;
    right: 20px;
    top: 310px;
    transform: rotate(45deg);
}


/* game frame */
.frame {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
    position: relative;
    top: -123.07692307692308%;
    z-index: 1;
}

.cover-contents {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}

.cover-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fff;
}

.game-title {
    font-size: 200%;
}

.game-btn {
    background-color: #c8d;
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 100px;
    cursor: pointer;
}

.game-btn:hover {
    background-color: #d9e;
}

.game-btn-text {
    font-size: 150%;
    color: #fff;
    line-height: 1;
}

.game-over-score {
    margin-top: 10px;
    font-size: 150%;
    color: #bff;
}

.row-container {
    width: 100%;
    height: 123.07692307692308%;
    position: relative;
    top: -23.07692307692308%;
    display: flex;
    flex-flow: column-reverse;
}

.row {
    display: flex;
    width: 100%;
    height: 12.5%;
}

.row-template {
    display: none;
}

.cell {
    width: calc(25% - 1px);
    height: 100%;
    border-bottom: 2px solid #9df;
}

.cell:not(:first-child) {
    border-left: 2px solid #9df;
}

.cell-chino {
    background-image: url(../img/chino.png);
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

.cell-chino-d {
    background-image: url(../img/chino_d.png) !important;
}

.cell-tapped {
    background-image: url(../img/flower_t.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes wrong-anim {
    0% {
        background-color: #e7a;
    }

    50% {
        background-color: #fbd;
    }

    100% {
        background-color: #e7a;
    }
}

.cell-wrong {
    background-color: #e7a;
    animation: wrong-anim 0.2s 3;
}